<div style=" border: 1px solid black; padding: 5px; margin: 5px;">
    <h1>Example of <code>ngx-diagram</code> editor:</h1>
    <div>
        <strong>Ctrl + Click on node:</strong> Starts connection.
    </div>
    <div>
        <strong>Ctrl + Click on area:</strong> Create node.
    </div>
    <div>
        <strong>Shift + Click on area:</strong> Starts selection.
    </div>
    <div>
        <strong>Drag area:</strong> Pan.
    </div>
    <div>
        <strong>Mouse wheel:</strong> Zoom.
    </div>
</div>

<div style="position: relative; background-color: lightgray; outline: black; margin: 5px;">
    <ngx-diagram #diagram (connected)="connected($event)" (clicked)="created($event)" (selected)="selected($event)">
        <ng-template let-node="node" let-selected="selected">

            <div style="width: 100%; height: 100%; max-width: 200px; min-height: 80px; position: relative;"
                 [style.backgroundColor]="selected?'lightPink':'lightskyblue'"
            >
                <div style="padding: 10px;">
                    <div style="padding: 5px; margin: 0px; background: lightgrey;">
                        <strong>{{node.id}}{{selected}}</strong>
                    </div>
                    <div>
                        <pre style="padding: 5px; margin: 0; color: white; background-color: black; ">{{node|json}}</pre>
                    </div>
                </div>
            </div>

        </ng-template>
    </ngx-diagram>
</div>
<div style=" border: 1px solid black; padding: 5px; margin: 5px;">
    <h3>Selection:</h3>
    <pre style="padding: 5px; color: white; background-color: black;">{{selection|json}}</pre>
    <button (click)="deleteSelected()">DELETE</button>
</div>
